@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.header {
  display: grid;
  background-color: #4b435e;
  text-align: center;
  justify-items: center;
  justify-content: center;
  padding-bottom: 48px;
}

.title-home {
  color: white;
  padding-top: 48px;
  font-family: Montserrat, sans-serif;
  margin: 0;
}

.container-inlive {
  display: flex;
  align-items: center;
}

.teste {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -288px;
  margin-left: 280px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-wrapper {
  display: flex;
  justify-content: space-between;
}

.container-home {
  background-color: #303134;
  margin-top: 48px;
  padding: 12px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  box-shadow: 11px 10px 25px -1px rgba(0, 0, 0, 0.75);
}
.container-home:hover {
  box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273) !important;
  transition: all 0.4s linear;
}
.container-home h1:nth-child(2) {
  color: white;
}

.team-home {
  background-color: #202124;
  border-radius: 15px;
  width: 100px;
  height: 110px;
}

.team-away {
  background-color: #202124;
  border-radius: 15px;
  width: 100px;
  height: 110px;
}
.team-away h1 {
  color: white;
  font-size: 0.75em;
  font-weight: lighter;
  margin-top: 5px;
}

.div-vs {
  color: white;
  font-size: 0.75em;
}

.team-home h1 {
  color: white;
  font-size: 0.75em;
  font-weight: lighter;
  margin-top: 5px;
}

.score {
  color: white;
  font-size: 1em;
}

.img-team {
  width: 30px;
  height: 30px;
}
